.titlebask{
    padding: 35px;
    font-size: 55px;
    font-family: "Comfortaa_bold";
    text-align: center;
}

.baskskidk{
    padding: 19px;
    font-size: 32px;
    font-family: "Dejavu_light";
    text-align: center;
    position: relative;
    top:-20px;
}

.basket{

    background-color: #a7c4e5;
    width:1440px;
}

.tel{
    width: 500px;
    top: 67px;
    left: 177px;
    position: relative;
  }
.usinf31{ 
    font-family: "Dejavu_reg";
    position: relative;
    font-size: 25px;
    color: black;
    top: 5px;
  }
  .usinf32{
    left: 368px;
    position: relative;
    width: 177px;
    height: 42px;
    top: -28px;
    font-size: 20px;
  }

.obvod{
    left: 186px;
    border-radius: 18px;
    border: 3px solid #4656a1;
    box-sizing: border-box;
    width: 1067px;
    position: relative;
}
.baskshapdiv{
    position: relative;
    border-radius: 15px;
    background-color: #fff;
    height: 98px;
    width: 1067px;
    left: 189px;
}
.shap1{
    position: relative;
    top: 30px;
    font-size: 32px;
    font-family: "Dejavu_bold";
    left: 103px;
}
.shap2 {
    margin: 39px;
    display: inline;
    font-size: 24px;
    font-family: "Dejavu_bold";
    position: relative;
    left: 435px;
}

.pust{
    top: -59px;
    text-align: center;
    width: 1067px;
    padding: 150px;
    border: 3px solid #4656a1;
    border-radius: 18px;
    left: 128px;
    position: relative;
    margin: 59px;
}
.empty,
.empty2{
    font-size: 42px;
    font-family: "Dejavu_reg";
    position: relative;
}

.knopoform{
    top: 23px;
    left: 492px;
    margin: 50px;
    cursor: pointer;
    border: 1px solid black;
    padding: 10px;
    background-color: #6c9dd3;
    border-radius: 8px;
    height: 70px;
    position: relative;
    font-size: 30px;
    font-family: "Comfortaa_bold";
}

.knopoform:hover {
    background-color: #d9e6f4;
  }


.cart_basket_skidka,
.cart_basket_ok_sum,
.cart_basket_summa{
    position: relative;
    border: 1px solid black;
    height: 55px;
    text-align: center;
    padding: 14px;
}


.divDopInf{
    font-family: "Dejavu_bold";
    font-size: 25px;
    position: relative;
    top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.abz{
    padding: 33px;
}











@font-face { 
    font-family: "Comfortaa_reg"; 
    src: url("./assets/fonts/Comfortaa-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 
@font-face {         
    font-family: "Comfortaa_bold";  
    src: url("./assets/fonts/Comfortaa-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 
 @font-face { 
    font-family: "Dejavu_reg"; 
    src: url("./assets/fonts/DejaVuSans.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;         
} 
@font-face { 
    font-family: "Dejavu_bold"; 
    src: url("./assets/fonts/DejaVuSans-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;         
}

@font-face { 
    font-family: "Dejavu_light"; 
    src: url("./assets/fonts/DejaVuSans-ExtraLight.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;         
}


