
.cart_history{
    margin: 36px;
    font-family: "Dejavu_reg";
    position: relative;
    border: 1px solid black;
    width: 1184px;
    height: auto;
    font-size: 25px;
}


.cart_history_date{
    left: 23px;
    top: 27px;
    position: relative;
}

.cart_history_goods{
    display: flex;
    width: 198px;
    position: relative;
    top: 14px;
    left: 256px;
    flex-direction: column;
    text-align: center;
}
.cart_history_good{
    margin: 5px;
    border: 1px solid black;
    display: flex;
    width: 198px;
    position: relative;
    top: -11px;
    left: -29px;
    flex-direction: column;
}

.cart_history_data{
    width: 761px;
    position: relative;
    top: -119px;
    left: 470px;
    display: flex;
    justify-content: space-evenly;
}


.lliniya{
    position: relative;
    top: 1.5px;
    left: -0.5px;
    border-top: 1px solid black;
    width: 174px;
    
}

 @font-face { 
    font-family: "Dejavu_reg"; 
    src: url("./assets/fonts/DejaVuSans.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;         
} 
@font-face { 
    font-family: "Dejavu_bold"; 
    src: url("./assets/fonts/DejaVuSans-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;         
}