
@font-face { 
    font-family: "Comfortaa_reg"; 
    src: url("./assets/fonts/Comfortaa-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 
@font-face {         
    font-family: "Comfortaa_bold";  
    src: url("./assets/fonts/Comfortaa-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 
 @font-face { 
    font-family: "Dejavu_reg"; 
    src: url("./assets/fonts/DejaVuSans.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;         
} 
@font-face { 
    font-family: "Dejavu_bold"; 
    src: url("./assets/fonts/DejaVuSans-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;         
}
.pages{

    position: relative;
    background-color: #fff;
    width: 100%;
    height: 1171px;
    text-align: left;
    font-size: 64px;
    color: #4656a1;
  }
  .anim,
  .fon {
    position: absolute;
    top: 102px;
    left: 770px;
    width: 651px;
    height: 566px;
    object-fit: cover;
  }
  .fon{
    top: 0;
    left: 0;
    width: 1440px;
    height: 1171px;
  }
  .texthero,
  .titlehero{
    left: 6.39%;
    display: inline-block;
  }
  .titlehero{
    font-family: "Comfortaa_bold";
    position: absolute;
    top: 71px;
    line-height: 120px;
  }
  .texthero {
    position: absolute;
    width: 48.13%;
    top: 191px;
    font-size: 40px;
    letter-spacing: 0.03em;
    line-height: 59.5px;
    font-family: "Dejavu_reg";
    color: black;
    height: 434px;
  }
  .btn {
    position: absolute;
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: #6c9dd3;
    width: 20.9%;
    top: 728px;
    right: 39.58%;
    left: 39.51%;
    border-radius: 8px;
    height: 102px;
  }
  .btn:hover {
    background-color: #d9e6f4;
  }
  .textkn {
    position:absolute;
    top: 31px;
    left: calc(50% - 158.5px);
    font-size: 36px;
    line-height: 40px;
    font-family: "Comfortaa_reg";
    color: black;
    text-align: center;
    display: inline-block;
    width: 316px;
  }