
.title_reg{
    position: absolute;
    top: 124px;
    left: 906px;
  }
  .title_reg2{
    text-align: center;
    font-size: 35px;
    position: absolute;
    top: 217px;
    left: 882px;
    width: 470px;
  }
  .form{
    position: absolute;
    top: 313px;
  }
  .dogpict{
    position: absolute;
    top: 87px;
    left: 0;
    width: 739px;
    height: 1112px;
    object-fit: cover;
  }
  .reg2{
    position: absolute;
    top: 0px;
    width: 780px;
    height: 380px;
    object-fit: cover;
  }
  .reg3{
    position: absolute;
    top: 823px;
    width: 780px;
    height: 380px;
    object-fit: cover;
  }
  .reg1{
    position: absolute;
    top: 410px;
    width: 780px;
    height: 380px;
    object-fit: cover;
  }
  .reg{
    position: relative;
    background-color: #a7c4e5;
    width: 1440px;
    height: 1198px;
    overflow: hidden;
    text-align: left;
    font-size: 60px;
    color: #000;
    font-family: "Comfortaa_reg";
  }
  .regbutton{
    position: absolute;
    cursor: pointer;
    background-color: #6c9dd3;
    top: 335px;
    width: 219px;
    left: 1012px;
    border-radius: 8px;
    height: 102px;
    font-family: "Comfortaa_reg";
    font-size: 40px;
  }
  .regbutton:hover {
    background-color: #d9e6f4;
  }

  .wrap{
    background-color: #a7c4e5;
    width: 1440px;
    margin: auto;
  }

  @font-face { 
    font-family: "Comfortaa_reg"; 
    src: url("./assets/fonts/Comfortaa-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 
@font-face {         
    font-family: "Comfortaa_bold";  
    src: url("./assets/fonts/Comfortaa-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 
 @font-face { 
    font-family: "Dejavu_reg"; 
    src: url("./assets/fonts/DejaVuSans.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;         
} 
@font-face { 
    font-family: "Dejavu_bold"; 
    src: url("./assets/fonts/DejaVuSans-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;         
}