.statis{
    background-color: #a7c4e5;
    font-size: 30px;
    font-family: "Dejavu_reg";

  }
  .ad_proftext{
    position: relative;
    top: -31px;
    left: 315px;
    font-size: 55px;
    letter-spacing: 1.11px;
    font-family: "Comfortaa_bold";
  }

  .a_proftext{
    position: relative;
    top: -31px;
    left: 200px;
    font-size: 55px;
    letter-spacing: 1.11px;
    font-family: "Comfortaa_bold";
  }