@import './sass/base/normalize';
@font-face { 
    font-family: "Comfortaa_reg"; 
    src: url("./assets/fonts/Comfortaa-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 
@font-face {         
    font-family: "Comfortaa_bold";  
    src: url("./assets/fonts/Comfortaa-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 
 @font-face { 
    font-family: "Dejavu_reg"; 
    src: url("./assets/fonts/DejaVuSans.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;         
} 
@font-face { 
    font-family: "Dejavu_bold"; 
    src: url("./assets/fonts/DejaVuSans-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;         
}
//header
.icon {
    top: 16px;
    left: 62px;
    width: 117px;
    height: 100px;
    object-fit: cover;
    position: absolute;
  }
.title{
    font-family: "Comfortaa_bold";
    width: 27.24%;
    top: 56px;
    left: 11.81%;
    line-height: 50px;
    display: inline-block;
    height: 53px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
  }
.info {
    font-family: "Comfortaa_reg";
    top: 10px;
    left: 620px;
    width: 200px;
    height: 134px;
    text-align: left;
    font-size: 23px;
    position: absolute;
    color:black;
}

.inf,
.inf1 {
  left: 7.5%;
  line-height: 50px;
  display: inline-block;
}
.inf {
  position: absolute;
  width: 89%;
  top: -3px;
  height: 48px;
}
.inf1 {
  width: 119%;
  top: 41px;
  height: 43px;
}
.inf1,
.inf2 {
  position: absolute;
}
.inf2 {
  width: 102%;
  top: 84px;
  left: 7.5%;
  line-height: 50px;
  display: inline-block;
  height: 40px;
}
.infchild{
    top: -0.5px;
    left: -0.5px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    width: 1px;
    height: 135px;
    position: absolute;
  }

  .icon1,
  .icon2 {
    position: absolute;
    height: 32.69%;
    width: 3.52%;
    top: 37.42%;
    right: 11.41%;
    bottom: 29.89%;
    left: 85.07%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .icon2 {
    height: 65px;
    width: 64px;
    right: 4.27%;
    bottom: 31.94%;
    left: 91.91%;
    top: 50px;
  }
.header{
    position: relative;
    background-color: #d9e6f4;
    width: 1440px;
    height: 155px;
    overflow: hidden;
    text-align: center;
    font-size: 40px;
    color: #4656a1;
    // font-family: var(--font-comfortaa);
  }

//footer
.footer{ 
  background-color: #fff;
  width: 1440px;
  height: 101px;
  overflow: hidden;
  text-align: left;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Dejavu_reg";
  position: absolute;
  top: 1326.3px;
  margin: auto;
}
.infofut{
  font-style: oblique;
    position: absolute;
    top: 12px;
    left: 24px;
    width: 244px;
    height: 77px;
    overflow: hidden;
  }

.foo,
.foo1,
.foo2 {
  position: absolute;
  width: 84.02%;
  top: -11px;
  left: 0;
  line-height: 50px;
  display: inline-block;
  height: 48px;
}
.foo1,
.foo2 {
  width: 81.15%;
  top: 13px;
}
.foo2 {
  width: 102.87%;
  top: 40px;
}

.fam {
    position: absolute;
    top: 27px;
    left: 576px;
    font-size: 23px;
    line-height: 50px;
    display: inline-block;
    width: 316px;
    height: 42px;
  }
  .footchild {
    position: absolute;
    top: 0.5px;
    left: -0.5px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    width: 1441px;
    height: 1px;
  }
  //main
  .pages{

    position: relative;
    background-color: #fff;
    width: 100%;
    height: 1171px;
    text-align: left;
    font-size: 64px;
    color: #4656a1;
  }
  .anim,
  .fon {
    position: absolute;
    top: 102px;
    left: 770px;
    width: 651px;
    height: 566px;
    object-fit: cover;
  }
  .fon{
    top: 0;
    left: 0;
    width: 1440px;
    height: 1171px;
  }
  .texthero,
  .titlehero{
    left: 6.39%;
    display: inline-block;
  }
  .titlehero{
    font-family: "Comfortaa_bold";
    position: absolute;
    top: 71px;
    line-height: 120px;
  }
  .texthero {
    position: absolute;
    width: 48.13%;
    top: 191px;
    font-size: 40px;
    letter-spacing: 0.03em;
    line-height: 59.5px;
    font-family: "Dejavu_reg";
    color: black;
    height: 434px;
  }
  .btn {
    position: absolute;
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: #6c9dd3;
    width: 20.9%;
    top: 728px;
    right: 39.58%;
    left: 39.51%;
    border-radius: 8px;
    height: 102px;
  }
  .btn:hover {
    background-color: #d9e6f4;
  }
  .textkn {
    position:absolute;
    top: 31px;
    left: calc(50% - 158.5px);
    font-size: 36px;
    line-height: 40px;
    font-family: "Comfortaa_reg";
    color: black;
    text-align: center;
    display: inline-block;
    width: 316px;
  }
  //reg
  .title_reg{
    position: absolute;
    top: 124px;
    left: calc(50% + 99px);
  }
  .dogpict{
    position: absolute;
    top: 87px;
    left: 0;
    width: 739px;
    height: 1112px;
    object-fit: cover;
  }
  .reg{
    position: relative;
    background-color: #a7c4e5;
    width: 1440px;
    height: 1198px;
    overflow: hidden;
    text-align: left;
    font-size: 60px;
    color: #000;
    font-family: "Comfortaa_reg";
  }
  .regbutton{
    position: absolute;
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: #6c9dd3;
    width: 20.9%;
    top: 509px;
    right: 17.43%;
    left: 61.67%;
    border-radius: 8px;
    height: 102px;
    font-family: "Comfortaa_reg";
    color: #000;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
  }
  .regbutton:hover {
    background-color: #d9e6f4;
  }
  //profile
  .profile{
    position: relative;
    background-color: #a7c4e5;
    width: 1440px;
    height: 1274px;
    overflow: hidden;
    text-align: center;
    font-size: 30px;
    color: #000;
    font-family: "Dejavu_reg";
  }
  .usinf{
    top: 506px;
    left: 24px;
    width: 466px;
    height: 89px;
    text-align: left;
    position: absolute;
  }
  .usinf1,
  .usinf2{
    font-weight:900;
    position: absolute;
    top: 50px;
    left: 0;
    letter-spacing: 1.11px;
    display: inline-block;
    width: 122px;
    height: 32px;
  }
  .usinf1{
    top: 0;
    left: -6px;
    text-align: center;
    width: 98px;
    height: 50px;
  }
  .proftext{
    position: absolute;
    top: 61px;
    left: 535px;
    font-size: 55px;
    letter-spacing: 1.11px;
    font-family: "Comfortaa_bold";
  }
  .zakazinf{
    position: absolute;
    top: 797px;
    left: 522px;
    width: 441px;
    height: 102px;
  }
  .zakazinf1,
  .zakazinf2{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 150%;
  }
  .zakazinf2{
    top: 57px;
  }
  .stat{
    position: absolute;
    top: 205px;
    left: 732px;
    width: 422px;
    height: 59px;
    font-size: 40px;
  }
  .stattext{
    top: -14px;
    left: -22px;
    text-decoration: underline;
    line-height: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 466px;
    height: 73px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .statpict{
    position: absolute;
    top: 286px;
    left: 517px;
    width: 851px;
    height: 498px;
    object-fit: cover;
  }
  .outButton{
    position: absolute;
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: #6c9dd3;
    width: 13.19%;
    top: 667px;
    right: 76.46%;
    left: 10.35%;
    border-radius: 8px;
    height: 55px;
    font-size: 20px;
    line-height: 50px;
    display: inline-block;
    font-family: "Comfortaa_bold";
    color: #000;
    text-align: center;
    height: 50px;
  }
  .outButton:hover {
    background-color: #d9e6f4;
  }
  .hist{
    top: 994px;
    left: 72px;
    width: 1296px;
    height: 157px;
    font-size: 24px;
    position: absolute;
  }
  .shapka{
    position: absolute;
    top: 61px;
    left: 0;
    border-radius: 15px;
    width: 1296px;
    height: 96px;
    overflow: hidden;
  }
  .shapkafon{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    background-color: #fff;
    width: 1296px;
    height: 98px;
  }

  .shapkatext1 {
    top: 26px;
    left: -9px;
    font-size: 32px;
  }
  .shapkatext1,
  .shapkatext2,
  .shapkatext3,
  .shapkatext4 {
    font-family: "Dejavu_bold";
    position: absolute;
    letter-spacing: 1.11px;
    display: inline-block;
    width: 257px;
    height: 57px;
  }
  .shapkatext2 {
    top: calc(50% - 13px);
    left: calc(50% - 91px);
  }
  .shapkatext3,
  .shapkatext4 {
    top: calc(50% - 15px);
    left: 1029px;
  }
  .shapkatext4 {
    top: calc(50% - 13px);
    left: 796px;
  }
  .histtex{
    top: 0;
    left: 10px;
    font-size: 30px;
    line-height: 150%;
    position: absolute;
  }